@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* globals.css */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #000; /* Or transparent */
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
}

/* Optional for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
}

